body{
    font-family: 'Poppins', sans-serif;
}
img{
    width: 80%;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
.top-area{
    display: flex;
    justify-content: space-between ;
    padding: 30px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.first-text{
    width: 50%;
}

.first-text a{
    text-decoration: none;
    border: 2px solid coral;
    padding: 8px 25px;
    background-color: coral;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(rgb(240, 161, 132) coral);
}
.first-image{
    width: 50%;
    text-align: right;
}