body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
img{
    width: 80%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
span{
    color: orange;
}
.top-area{
    display: flex;
    justify-content: space-between ;
    padding: 40px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
.first-text{
    width: 50%;
}

.first-text a{
    text-decoration: none;
    border: 2px solid coral;
    padding: 8px 25px;
    background-color: coral;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(rgb(240, 161, 132) coral);
}
.first-image{
    width: 50%;
    text-align: right;
}

.dream-big{
    display: flex;
    justify-content: space-between ;
    padding: 40px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.second-image{
    width: 50%;
}
.second-text{
    width: 50%;
}
.second-text a{
    text-decoration: none;
    border: 2px solid coral;
    padding: 8px 25px;
    background-color: coral;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(rgb(240, 161, 132) coral);
}


.part-3{
    display: flex;
    justify-content: space-around;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 200px;
}
.part-3 h3{
    color: rgb(255, 163, 58);
}
.left{
    width: 35%;
    box-shadow: 10px 10px 20px gray;
    padding-left: 20px;
    border-left: 8px solid rgb(231, 6, 6);

}
.right{
    width: 35%;
    box-shadow: 10px 10px 20px gray;
    padding-left: 20px;
    border-left: 8px solid blue;
}
footer p{
    color: gray;
    text-align: center;
}